    /*==========================
    Globales
    ============================*/
    *{
      margin: 0px;
      padding: 0px;
      list-style: none;
      text-decoration: none;
      box-sizing: border-box;
      font-family: verdana;
      box-sizing: border-box;/* esto asegura el relleno y el borde estan incluidos en el ancho de  y alto total de los elementos */   
  }
  /*=====================================================
      PANTALLA DE ESCRITORIO GRANDE-LARGE (lg)
   ======================================================*/
  
   @media(min-width:1200px){
  
      .col-lg-1 {width: 8.33%;}
      .col-lg-2 {width: 16.66%;}
      .col-lg-3 {width: 25%;}
      .col-lg-4 {width: 33.33%;}
      .col-lg-5 {width: 41.66%;}
      .col-lg-6 {width: 50%;}
      .col-lg-7 {width: 58.33%;}
      .col-lg-8 {width: 66.66%;}
      .col-lg-9 {width: 75%;}
      .col-lg-10 {width: 83.33%;}
      .col-lg-11 {width: 91.66%;}
      .col-lg-12 {width: 100%;}
   }
   /*=====================================================
      PANTALLA DE ESCRITORIO MEDIANO- MEDIUM (md)
   ======================================================*/
  
   @media(max-width:1199px) and (min-width:992px){
  
      .col-md-1 {width: 8.33%;}
      .col-md-2 {width: 16.66%;}
      .col-md-3 {width: 25%;}
      .col-md-4 {width: 33.33%;}
      .col-md-5 {width: 41.66%;}
      .col-md-6 {width: 50%;}
      .col-md-7 {width: 58.33%;}
      .col-md-8 {width: 66.66%;}
      .col-md-9 {width: 75%;}
      .col-md-10 {width: 83.33%;}
      .col-md-11 {width: 91.66%;}
      .col-md-12 {width: 100%;}
   }
   /*=====================================================
      PANTALLA DE TABLE- SMALL (SM)
   ======================================================*/
  
   @media(max-width:991px) and (min-width:768px){
  
      .col-sm-1 {width: 8.33%;}
      .col-sm-2 {width: 16.66%;}
      .col-sm-3 {width: 25%;}
      .col-sm-4 {width: 33.33%;}
      .col-sm-5 {width: 41.66%;}
      .col-sm-6 {width: 50%;}
      .col-sm-7 {width: 58.33%;}
      .col-sm-8 {width: 66.66%;}
      .col-sm-9 {width: 75%;}
      .col-sm-10 {width: 83.33%;}
      .col-sm-11 {width: 91.66%;}
      .col-sm-12 {width: 100%;}
   }
  
    /*=====================================================
      PANTALLA DE PHONES- EXTRA-SMALL (XS)
   ======================================================*/
  
   @media(max-width:767px){
  
      .col-xs-1 {width: 8.33%;}
      .col-xs-2 {width: 16.66%;}
      .col-xs-3 {width: 25%;}
      .col-xs-4 {width: 33.33%;}
      .col-xs-5 {width: 41.66%;}
      .col-xs-6 {width: 50%;}
      .col-xs-7 {width: 58.33%;}
      .col-xs-8 {width: 66.66%;}
      .col-xs-9 {width: 75%;}
      .col-xs-10 {width: 83.33%;}
      .col-xs-11 {width: 91.66%;}
      .col-xs-12 {width: 100%;}
   }
/*-- inicio de la pagina--*/
.inicio{
  width: 100%;
  height: 230px;
  background-image: url("../file_img/logo-invenire-cuero-new-prototipo.png");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: center -10px; 
  /*background-color: dimgray;*/
}
/*--fin de pagina--*/
.pie_de_pagina{
  width: 100%;
  height: 115px;
  background-image: url("../file_img/logo-invenire-cuero-new-prototipo.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: left auto;
  background-color: #775757a8;
  font-size: 40px;
  text-decoration: underline overline;
  text-align: center;
  padding-top: 30px;
  font-family: Verdana, sans-serif; 
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}