 /*========================================================================================*/
 /*==Globales==*/
 /*========================================================================================*/
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: verdana;
}

a{
    text-decoration: none;
    color: #ffffff;
}

/*========================================================================================*/
/*==inicio de la pagina: es esta parte podemos editar el header de la pagina==*/
/*========================================================================================*/
.header{
    width:100%;
    /* height: 120px; */
    background: #1695b12d;
    /* background-color:#88ABC2; */
    overflow: hidden;
    /* margin-bottom: 20px; */
    /* background-image: url("../file_img/caja-invenire-cuero.png");
    background-repeat: no-repeat;
    background-size: 160px auto;
    background-position: left 5px;  */
    /* border: 1px solid black; */
    font-family: Verdana, sans-serif;
}
/*========================================================================================*/
/*==para centra texto en el archivo==*/
/*========================================================================================*/
.wrapper{
    width: 100%;
    max-width:1200px;
    margin: auto;
    overflow: hidden;
}

.wrapper-2{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 50px;
    color: white;
    /* border: 1px solid black; */
    position: relative;
    bottom: 10px;
}

/*========================================================================================*/
/*==editor del logo==*/
/*========================================================================================*/
header .logo{
    color: #ffffff;
    font-size: 40px;
    line-height: 160px;
    float: left;
    position: relative;
    right: 20px;
    top: 2px;
}

/* footer .logo-footer{
    font-size: 40px;
    line-height: 100px;
    float: right;
    border: 1px solid black;
    width: 15%;
    height: 80%;
} */
/*========================================================================================*/
/*==editor el menu==*/
/*========================================================================================*/
header nav{
    float: right;
    line-height: 160px;
}

header nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
header nav a:hover{
    background: white;
    color: black;
    border-radius: 50px;
}
.header{
    font-weight: bold;
}

.header_2{
    position: fixed;
    height: 100px;
}

.header_2 .logo{
    line-height: 100px;
    font-size: 30px;
}
.header_2 nav{
    line-height: 100px;
}

/*========================================================================================*/
/*==footer en esta parte podemos editar el footer==*/
/*========================================================================================*/
.footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 400px 50px;
    background: #044352c2;
    color: white;
    text-decoration: none;
    overflow: hidden;
    font-family: 'Galada', cursive;
}
.footer1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.columna1{
    grid-column: 1;
    text-align: center;
    padding: 40px;
    /* border: 1px solid black; */
}
.columna2{
    grid-column: 2;
    text-align: center;
    padding: 40px;
    /* border: 1px solid black; */
}
.columna3{
    grid-column: 3;
    /* text-align: center; */
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid black; */
}

.footer2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.copyright{
    grid-column: 1 ;
    background: #031d3ff1;
    padding: 20px;
}
.information{
    grid-column: 2 ;
    padding: 20px;
    background: #031d3ff1;
    /* background: #420452f1; */
    text-align: center;
}
.redes{
    width: 15%;
    height: 10%;
}
.contacto{
    width: 10%;
    height: 10%;
}
.icon-facebook{
    font-size: 50px;
    color: white;
    text-decoration: none;
    animation: facebook 5s infinite;
}
/* @keyframes facebook{
    50% {color: #3B5999;} 

} */
.icon-facebook:hover{
    color: #3b5999;
}
.facebook:hover{
    color: #3b5999;
}
.icon-instagram{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: instagram 5s infinite;
}
@keyframes instagram {
    /* 50% {color: #833ab4;} */ 
    /* 0%   {color: #833ab4;}
    25%  {color: #4c68d7;}
    50%  {color: #cd486b;}
    60%  {color: #cd486b;}
    80%  {color: #fccc63;}
    90%  {color: #bc2a8d;}
    100% {color: #e95950;} */
}
.icon-instagram:hover{
    color: #833ab4;
    /* color:#8a3ab9 #4c68d7; */
    /* background: linear-gradient(to bottom right, #8a3ab9, #4c68d7,#cd486b, #fbad50,#fccc63,#bc2a8d,#e95950); */
}
.instagram:hover{
    color: #833ab4;
}
.icon-twitter{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: twitter 5s infinite;
   
}
/* @keyframes twitter{
    50% {color:  #55ACEE;} 

} */
.icon-twitter:hover{
    color: #55acee;
}
.twitter:hover{
    color: #55acee;
}

.icon-blogger{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: blogger 5s infinite;
   
}
/* @keyframes blogger{
    50% {color:  #ff5722;} 

} */
.icon-blogger:hover{
    color: #ff5722;
}
.blogger:hover{
    color: #ff5722;
}
.icon-location,.icon-phone,.icon-mail2,.icon-clock,.icon-printer{
    font-size: 30px;
    color: white;
}
.horario{
    margin-left: 35px;
}
.icon-location:hover{
    color: #5a422b;
}
.home:hover{
    /* font-size: 30px; */
    color: #5a422b;
    text-decoration: underline ;
}
.titulo-footer{
    font-size: 35px;
}
.titulo-footer3{
    font-family: 'Galada', cursive;
}
/*========================================================================================*/
/*==en este lugar es para editar el lading page de la pagina==*/
/*========================================================================================*/
.lading{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 500px ;
    align-items: center;
    justify-content: center;
    /* background-image: url("../file_img/inventario.jpg"); */
    /* background-size:cover; */
    /* background-attachment: fixed; */
    /* height: 700px; */
    position: relative;
    z-index: 5;


}
/*========================================================================================*/
/*==para editar todo lo que tenga que ver con al infomacion==*/
/*========================================================================================*/
.contenido{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
    /* background: rgba(169,171,173, .5); */
    font-family: Verdana, sans-serif;
    z-index: -2;
  }

   /* .lading{
    opacity: 0.8;
    background: rgba(169,171,173, .5);
  }  */
.aside1{
    width: 100%;
    height: 100%;
    /* background: rgba(169,171,173, .5); */
}
/*========================================================================================*/
/*==editor de las imagenes==*/
/*========================================================================================*/

.img_1 {
    max-width: 100%;
    height: auto;
}

.img_2 {
    max-width: 100%;
    height: auto;
}

.img_3 {
    max-width: 100%;
    height: auto;
}
/*========================================================================================*/
/*==imagen de fondo==*/
/*========================================================================================*/
.imagen_fondo{
    /* display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 100vh ; */
    background-image: url("../file_img/imagenes_fondo/inventario.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 140vh; */
    /* background-attachment: fixed; */

}
/*========================================================================================*/
/*==4k  = 2560px==*/
/*========================================================================================*/
/* @media(min-width:1400px) and (max-width:2560px) {
    header.header{
        width: 150%;
    }
    section.lading{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 900px;
        background-image: url("../file_img/what_meme.gif");
        background-size:cover;
        background-attachment: fixed;
        height: 700px;
        width: 10000%;
        height: auto;
        position: relative;
    }
    section.wrapper-2{
        width: 150%;
        height: 900px;
    }
    footer.pie_de_pagina{
        width: 150%;
    }
    aside{
        background: #33ff0080;

    }
    .contenido{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 900px;
        background: rgba(182, 165, 128, 0.699);
        font-family: Verdana, sans-serif;
        width: 150%;
      }
      .img_4{
        width: 900px;
        height: 990px;
        border: 1px solid black;
        margin-left: 100px;
        margin-bottom: 100px;
        background: none;
        z-index: 3;
        position: absolute;
        top: 70px;
        left: 10px;
    }

} */
 /*========================================================================================*/
 /*==Laltop L = 1440px==*/
 /*========================================================================================*/
 @media (max-width:1440px) {
    header .logo,.header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
    aside{
        /* background: #ff000d; */
        color: black;
        /* background: rgba(169,171,173, .5); */
        font-family: Verdana, sans-serif;
    }
    .contenido{
        width: 100%;
        height: 100%;
        /* background: rgba(169,171,173, .5); */
    }
}
 /*========================================================================================*/
 /*==Laltop = 1024px==*/
 /*========================================================================================*/
@media (max-width:1024px) {

    header .logo,.header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
    aside{
        /* background: #ff000d; */
        color: black;
        /* background: rgba(169,171,173, .5); */
        font-family: Verdana, sans-serif;
    }
    .contenido{
        width: 100%;
        height: 100%;
        /* background: rgba(169,171,173, .5); */
    }
}
 /*========================================================================================*/
 /*==Tablet = 768px==*/
 /*========================================================================================*/
 @media (max-width:768px) {

    header .logo,.header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;

    }
    .lading{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,100%);
    }
    .img_2{
        grid-column:1 / span 2;
        grid-row: 2 / span 1 ;
        /* border: 1px solid black; */
        margin: auto;
        max-width: 100%;
        height: auto;
        margin-top: 0px;
        z-index: 1;
    }
    aside{
        grid-column:1 / span 1;
        grid-row: 2 / span 1 ;
        text-align: center;
        /* background: #ffe600; */
        /* border: 1px solid black; */
        z-index: -1;
        color: black;
        background: rgba(169,171,173, .5);
        font-family: Verdana, sans-serif;

    }

    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1090px 50px;
        background: #044352c2;
        overflow: hidden;
        font-family: 'Galada', cursive;
        color: white;
        text-decoration: none;
    }
    .footer1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .columna1{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna2{
        grid-column: 1;
        text-align: center;
        padding: 40px;  
        /* border: 1px solid black; */
    }
    .columna3{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
        /* border: 2px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: 12px;
    }

}
 /*========================================================================================*/
 /*==Movil L = 425px==*/
 /*========================================================================================*/
 @media (max-width:425px) {
    header .logo,.header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;

    }
    .lading{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,100%);
    }
    aside{
        grid-column:1 / span 2;
        grid-row: 2 / span 1 ;
        text-align: center;
        /* background: #3cff00; */
        /* border: 1px solid black; */
        z-index: -1;
        padding: 10px;
        color: black;
        background: rgba(169,171,173, .5);
        font-family: Verdana, sans-serif;
    }
    .img_2{
        grid-column:1 / span 2;
        grid-row: 1 / span 2 ;
        /* border: 1px solid black; */
        margin: auto;
        max-width: 100%;
        height: auto;
        z-index: 1;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1200px 150px;
        background: #044352c2;
        overflow: hidden;
        font-family: 'Galada', cursive;
        color: white;
        text-decoration: none;
    }
    .footer1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .columna1{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna2{
        grid-column: 1;
        text-align: center;
        padding: 40px;  
        /* border: 1px solid black; */
    }
    .columna3{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
        /* border: 2px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 80px 80px;
        font-size: 15px;

    }
    .copyright{
        grid-column: 1;
        text-align: center;
    }
    .information{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
}
 /*========================================================================================*/
 /*==Movil M = 375px==*/
 /*========================================================================================*/
 @media (max-width:375px) {
    header .logo,.header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;

    }
    .lading{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,100%);
    }
    aside{
        grid-column:1 / span 2;
        grid-row: 2 / span 1 ;
        text-align: center;
        /* background: #3cff00; */
        /* border: 1px solid black; */
        z-index: -1;
        padding: 10px;
        color: black;
        background: rgba(169,171,173, .5);
        font-family: Verdana, sans-serif;
    }
    .img_2{
        grid-column:1 / span 2;
        grid-row: 1 / span 2 ;
        /* border: 1px solid black; */
        margin: auto;
        max-width: 100%;
        height: auto;
        z-index: 1;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1300px 150px;
        background: #044352c2;
        overflow: hidden;
        font-family: 'Galada', cursive;
        color: white;
        text-decoration: none;
    }
    .footer1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .columna1{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna2{
        grid-column: 1;
        text-align: center;
        padding: 40px;  
        /* border: 1px solid black; */
    }
    .columna3{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
        /* border: 2px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 80px 80px;
        font-size: 15px;

    }
    .copyright{
        grid-column: 1;
        text-align: center;
    }
    .information{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
}

 /*========================================================================================*/
 /*==Movil S = 320px==*/
 /*========================================================================================*/
 @media (max-width:320px) {
    header .logo,.header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;

    }
    .lading{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,100%);
    }
    aside{
        grid-column:1 / span 2;
        grid-row: 2 / span 1 ;
        text-align: center;
        /* background: #3cff00; */
        /* border: 1px solid black; */
        z-index: -1;
        padding: 10px;
        color: black;
        background: rgba(169,171,173, .5);
        font-family: Verdana, sans-serif;
    }
    .img_2{
        grid-column:1 / span 2;
        grid-row: 1 / span 2 ;
        /* border: 1px solid black; */
        margin: auto;
        max-width: 100%;
        height: auto;
        z-index: 1;
    }
    
    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1350px 150px;
        background: #044352c2;
        overflow: hidden;
        font-family: 'Galada', cursive;
        color: white;
        text-decoration: none;
    }
    .footer1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .columna1{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna2{
        grid-column: 1;
        text-align: center;
        padding: 40px;  
        /* border: 1px solid black; */
    }
    .columna3{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
        /* border: 2px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 80px 80px;
        font-size: 15px;

    }
    .copyright{
        grid-column: 1;
        text-align: center;
    }
    .information{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
}

/*========================================================================================*/
/*==GAME OVER- EL SOCIO ==*/
/*========================================================================================*/
