 /*========================================================================================*/
 /*==Globales==*/
 /*========================================================================================*/
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: verdana;
    /*box-sizing: border-box;*//* esto asegura el relleno y el borde estan incluidos en el ancho de  y alto total de los elementos */
}
/*========================================================================================*/
/*==inicio de la pagina: es esta parte odemos editar el header de la pagina==*/
/*========================================================================================*/

/*--inicio de la pagina con el logo--*/
.inicio{
    width: 100%;
    height: 230px;
    background-image: url("../file_img/logo-invenire-cuero-new-prototipo.png");
    background-repeat: no-repeat;
    background-size: 320px auto;
    background-position: center ;
    /*background-color: #775757a8;*/
}
/*========================================================================================*/
/*==editor del titulo==*/
/*========================================================================================*/
.formulario h2{
    margin: 1px ;
    font-size: 25px;
    font-weight: 400;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 2px;
    font-family: arial;
}

/*========================================================================================*/
/*==donde esta ubicado el formulario==*/
/*========================================================================================*/
.formulario{
    max-width: 500px;
    width: 100%;
    height: 605px;
    background-color: silver;
    margin: 48px auto;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 1px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: 2px solid black;
}


.formulario input{
    width: 60%;
    height: 30px;
    font-size:18px;
    letter-spacing: 2px;
    font-family: arial;
}
/*--editor de medidas de cajones de los campos--*/
.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="email"],
.formulario input[list="browsers"],
.formulario input[list="browsers2"]{
    margin: 0 0 20px 0;
    font-size: 20px;
    border-radius: 5px;
}
/* @media (max-width:480px){
    form{
        width: 100%;
    }
    footer{
        width: 100%;
    }
} */

/*========================================================================================*/
/*==fin de pagina: en esta parte podemos editar el footer de la pagina==*/
/*========================================================================================*/
.pie_de_pagina{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,100%);
    background-color: #88ABC2;
    /* height: 150px; */
    /* background-image: url("../file_img/caja-invenire-cuero.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-position: left 20px; */
    font-size: 30px;
    /* text-decoration: underline overline; */
    text-align: center;
    /* padding-top: 5px; */
    font-family: Verdana, sans-serif;
    text-shadow: -4px 4px black;
    color: white;
    overflow:hidden;
    /* border: 1px solid black; */
}
.pies{
    grid-column:2 / span 3;
    /* background:url(../file_img/what_meme.gif);
    background-size: cover; */
    text-align: center;
    position: relative;

}
.pies-letras{
    text-align: center;
    position: relative;
    top: 30px;
    right: 50px ;
    font-size: 35px;

}
.logo-footer{
    grid-column:1 / span 1;
    /* background:url(../file_img/john\ travolta.gif);
    background-size: cover; */
}
.img_3 {
    max-width: 100%;
    height: auto;
}

/*========================================================================================*/
/*====*/
/*========================================================================================*/
.browsers, .browsers2{
    font-weight: bolder;
}

  /*========================================================================================*/
 /*==4k  = 2560px==*/
 /*========================================================================================*/
/* @media(min-width:1400px) and (max-width:2560px) {


} */
 /*========================================================================================*/
 /*==Laltop L = 1440px==*/
 /*========================================================================================*/
 /* @media (max-width:1440px) {

}  */
 /*========================================================================================*/
 /*==Laltop = 1024px==*/
 /*========================================================================================*/
/* @media (max-width:1024px) {


} */
 /*========================================================================================*/
 /*==Tablet = 768px==*/
 /*========================================================================================*/
 /* @media (max-width:768px) {

} */
 /*========================================================================================*/
 /*==Movil L = 425px==*/
 /*========================================================================================*/
 @media (max-width:425px) {
    .formulario{
        width: 90%;
    }
    .pies-letras{
        font-size: 21px;
        overflow: hidden;
        text-shadow: 1px 2px black;
        position: relative;
        left: -15px;
    }

}
 /*========================================================================================*/
 /*==Movil M = 375px==*/
 /*========================================================================================*/
 @media (max-width:375px) {
    .formulario{
        width: 90%;
        height: 500px;
        font-family: Verdana, sans-serif;
    }
    .pies-letras{
        font-size: 20px;
        overflow: hidden;
        text-shadow: 1px 2px black;
        position: relative;
        left: -15px;
        font-family: Verdana, sans-serif;
    }
    .formulario h2{
        margin: 1px ;
        font-size: 20px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 2px;
        font-family: Verdana, sans-serif;
    }
    .formulario input{
        width: 70%;
        height: 30px;
        font-size:15px;
        letter-spacing: 2px;
    }
    .formulario input[type="text"],
    .formulario input[type="password"],
    .formulario input[type="email"],
    .formulario input[list="browsers"],
    .formulario input[list="browsers2"]{
    margin: 0 0 10px 0;
    font-size: 20px;
    border-radius: 5px;
    }

}

 /*========================================================================================*/
 /*==Movil S = 320px==*/
 /*========================================================================================*/
 @media (max-width:320px) {
    .formulario{
        width: 90%;
        height: 500px;
        font-family: Verdana, sans-serif;
    }
    .pies-letras{
        font-size: 17px;
        overflow: hidden;
        text-shadow: 1px 2px black;
        position: relative;
        left: 1px;
    }
    .formulario h2{
        margin: 1px ;
        font-size: 15px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 1px;
        font-family: Verdana, sans-serif;
    }
    .formulario input{
        width: 75%;
        height: 30px;
        font-size:15px;
        letter-spacing: 2px;
    }
    .formulario input[type="text"],
    .formulario input[type="password"],
    .formulario input[type="email"],
    .formulario input[list="browsers"],
    .formulario input[list="browsers2"]{
    margin: 0 0 15px 0;
    font-size: 20px;
    border-radius: 5px;
    }
}

/*========================================================================================*/
/*==GAME OVER *_* EL SOCIO ==*/
/*========================================================================================*/
