 /*========================================================================================*/
 /*==Globales==*/
 /*========================================================================================*/
 *{
    margin: 0px;
    padding: 0px;
    /* list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: verdana; */
    /* font-family: 'Galada', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* color: white; */
    /* color: black; */
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
/*========================================================================================*/
/*==header==*/
/*========================================================================================*/

.header{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 75px;
    height: 70px;
    background: #1695b141;
    font-family: 'Galada', cursive;
    /* font-family: 'Roboto', sans-serif; */
}
.a{
    grid-column:3; 
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.b{
    grid-column: 4;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    
}
.c{
    grid-column: 5;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.a,.b,.c,.logo{
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    /* font-family: 'Pattaya', sans-serif; */
    /* font-family: 'Galada', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 25px;
    color: #ffffff;
}
/*========================================================================================*/
/*==imagen de fondo==*/
/*========================================================================================*/
.imagen_fondo{
    /* display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 100vh ; */
    background-image: url("../file_img/imagenes_fondo/fondo_lading_4.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 140vh; */
    /* background-attachment: fixed; */

}
/*========================================================================================*/
/*==Section==*/
/*========================================================================================*/
.section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 65vh ;
    position: relative;
    z-index: 1;
    align-items: center;
    overflow: hidden;
    font-family: 'Galada', cursive;
}
.caja-Bienvenido{
    /* background: #5a39075e; */
    /* font-family: 'Galada', cursive; */
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    
    /* border: 1px solid black; */
}
.caja-imagenes-movimiento{
    padding: 80px;
    /* background: #2e075a5e; */
    /* border: 1px solid black; */
}

.section-2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 170px ;
    background: #075a3a27;
    font-family: 'Galada', cursive;
}
/*========================================================================================*/
/*==editor  donde esta ubicado la caja del email==*/
/*========================================================================================*/
/* .email{
    width: 600px;
    height: 10px;
    margin: auto;
    padding: 50px; 
    border: 1px solid black;
    background: #075a3ab4;
} */
.caja-email{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 500px 300px 600px ; */
    grid-template-rows: 90px 80px;
    height: 170px;
    /* margin: auto; */
    background: #075a3a50;
    /* margin-top: 10px; */
    /* align-items: center; */
    overflow: hidden;
}
.caja-nombre{
    grid-column: 1;
    grid-row: 2;
    padding: 5px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
}
.caja-email2{
    grid-column: 2;
    grid-row: 2;
    padding: 5px;
    margin-left: 9px;
    font-family: 'Roboto', sans-serif;

}
.caja-enviar{
    grid-column: 3;
    grid-row: 2;
    font-family: 'Roboto', sans-serif;

}
.masinformacion{
    grid-column: 1 / span 3;
    text-align: center;
    color: white;
    font-size: 29px;
    padding: 15px;
    /* -webkit-text-fill-color: yellowgreen; */
    /* -webkit-text-stroke: 1px black; */
}
.caja-email input{
    width: 80%;
    height: 40px;
    font-size:18px;
    letter-spacing: 2px;
    border-radius: 3px;
    border: none;
}
.caja-email input[type="submit"]{
    background-color: #00a2ff;
    border: none;
    width: 40%;
    color: white;
}
.caja-email input[type="submit"]:hover{
    background-color: #03399c;
}
/* .ema{
    margin: auto 50px; 
} */
/*========================================================================================*/
/*==footer en esta parte podemos editar el footer==*/
/*========================================================================================*/
.footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 400px 50px;
    background: #044352c2;
    color: white;
    text-decoration: none;
    overflow: hidden;
    font-family: 'Galada', cursive;
}
.footer1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.columna1{
    grid-column: 1;
    /* border: 1px solid black; */
    text-align: center;
    padding: 40px;
}
.columna2{
    grid-column: 2;
    text-align: center;
    padding: 40px;
    /* border: 1px solid black; */
}
.columna3{
    grid-column: 3;
    /* text-align: center; */
    padding: 40px;
    /* border: 2px solid black; */
}

.footer2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.copyright{
    grid-column: 1 ;
    background: #031d3ff1;
    padding: 20px;
}
.information{
    grid-column: 2 ;
    padding: 20px;
    background: #031d3ff1;
    /* background: #420452f1; */
    text-align: center;
}
.redes{
    width: 15%;
    height: 10%;
}
.contacto{
    width: 10%;
    height: 10%;
}
.icon-facebook{
    font-size: 50px;
    color: white;
    text-decoration: none;
    animation: facebook 5s infinite;
}
/* @keyframes facebook{
    50% {color: #3B5999;} 

} */
.icon-facebook:hover{
    color: #3b5999;
}
.facebook:hover{
    color: #3b5999;
}
.icon-instagram{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: instagram 5s infinite;
}
@keyframes instagram {
    /* 50% {color: #833ab4;} */ 
    /* 0%   {color: #833ab4;}
    25%  {color: #4c68d7;}
    50%  {color: #cd486b;}
    60%  {color: #cd486b;}
    80%  {color: #fccc63;}
    90%  {color: #bc2a8d;}
    100% {color: #e95950;} */
}
.icon-instagram:hover{
    color: #833ab4;
    /* color:#8a3ab9 #4c68d7; */
    /* background: linear-gradient(to bottom right, #8a3ab9, #4c68d7,#cd486b, #fbad50,#fccc63,#bc2a8d,#e95950); */
}
.instagram:hover{
    color: #833ab4;
}
.icon-twitter{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: twitter 5s infinite;
   
}
/* @keyframes twitter{
    50% {color:  #55ACEE;} 

} */
.icon-twitter:hover{
    color: #55acee;
}
.twitter:hover{
    color: #55acee;
}

.icon-blogger{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: blogger 5s infinite;
   
}
/* @keyframes blogger{
    50% {color:  #ff5722;} 

} */
.icon-blogger:hover{
    color: #ff5722;
}
.blogger:hover{
    color: #ff5722;
}
.icon-location,.icon-phone,.icon-mail2,.icon-clock{
    font-size: 40px;
    color: white;
}
.icon-location:hover{
    color: #5a422b;
}
.home:hover{
    /* font-size: 30px; */
    color: #5a422b;
    text-decoration: underline ;
}
.titulo-footer{
    font-size: 35px;
}
/*========================================================================================*/
/*==estilo imagenes en movimiento==*/
/*========================================================================================*/
.imagenes{
    position: relative;
    z-index: -1;
    opacity: 0.7;
    border-radius:10%;
    max-width: 100%;
    height: auto;
    /* border: 10px solid  #64070785; */
}
/*========================================================================================*/
/*====*/
/*========================================================================================*/

