 /*========================================================================================*/
 /*==Globales==*/
 /*========================================================================================*/
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: verdana;
}
/*========================================================================================*/
/*==PANTALLA DE ESCRITORIO GRANDE-LARGE (lg)==*/
/*========================================================================================*/
 @media(min-width:1200px){

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
 }
/*========================================================================================*/
/*==   PANTALLA DE ESCRITORIO MEDIANO- MEDIUM (md)==*/
/*========================================================================================*/
 @media(max-width:1199px) and (min-width:992px){

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
 }
/*========================================================================================*/
/*==    PANTALLA DE TABLE- SMALL (SM)==*/
/*========================================================================================*/
 @media(max-width:991px) and (min-width:768px){

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
 }

/*========================================================================================*/
/*==    PANTALLA DE PHONES- EXTRA-SMALL (XS)==*/
/*========================================================================================*/
 @media(max-width:767px){

    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
 }

/*========================================================================================*/
/*==inicio de la pagina: es esta parte odemos editar el header de la pagina==*/
/*========================================================================================*/
.header{
    width:100%;
    /* height: 120px; */
    background-color:#88ABC2;
    overflow: hidden;
    /* margin-bottom: 20px; */
    /* background-image: url("../file_img/caja-invenire-cuero.png");
    background-repeat: no-repeat;
    background-size: 160px auto;
    background-position: left 5px;  */
    /* border: 1px solid black; */
    font-family: Verdana, sans-serif; 
}
/*========================================================================================*/
/*==para centra texto en el archivo==*/
/*========================================================================================*/
.wrapper{
    width: 100%;
    max-width:1200px;
    margin: auto;
    overflow: hidden;
}

.wrapper-2{
    width: 100%;
    max-width:1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    /* border: 1px solid black; */
}
@media screen and (max-width:1000px){
    .img_2{
        width: 100%;
    }
    .wrapper-2{
        width: 100%;
    }

}
/*========================================================================================*/
/*==editor del logo==*/
/*========================================================================================*/
header .logo{
    color: white;
    font-size: 40px;
    line-height: 160px;
    float: left;
}

footer .logo-footer{
    font-size: 40px;
    line-height: 200px;
    float: right;
}
/*========================================================================================*/
/*==editor el menu==*/
/*========================================================================================*/
header nav{
    float: right;
    line-height: 160px;
}

header nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
header nav a:hover{
    background: white;
    color: black;
    border-radius: 50px;
}

.header_2{
    position: fixed;
    height: 100px;
}

.header_2 .logo{
    line-height: 100px;
    font-size: 30px;
}
.header_2 nav{
    line-height: 100px;
}
/*========================================================================================*/
/*==fin de pagina: en esta parte podemos editar el footer de la pagina==*/
/*========================================================================================*/
.pie_de_pagina{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #88ABC2;
    height: 150px;
    /* background-image: url("../file_img/caja-invenire-cuero.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-position: left 20px; */
    font-size: 40px;
    /* text-decoration: underline overline; */
    text-align: center;
    /* padding-top: 5px; */
    font-family: Verdana, sans-serif; 
    text-shadow: -4px 4px black;
    color: white;
    overflow:hidden;
    /* border: 1px solid black; */
}
/*========================================================================================*/
/*==en este lugar es para editar el lading page de la pagina==*/
/*========================================================================================*/
.lading{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #88ABC2;
    background-image: url("../file_img/inventario.jpg");
    background-size:cover;
    /* height: 700px; */
    max-width: 100%;
    height: auto;
    
}
/*========================================================================================*/
/*==para editar todo lo que tenga que ver con al infomacion==*/
/*========================================================================================*/
.contenido{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background: rgba(169,171,173, .5);
    font-family: Verdana, sans-serif; 
  }

.contenido p{
    margin-bottom: 1em;
}


@media screen and (max-width:900px){

    header .logo,.header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
 }
/*========================================================================================*/
/*==editor de las imagenes==*/
/*========================================================================================*/

.img_1 {
    max-width: 100%;
    height: auto;
}

.img_2 {
    max-width: 100%;
    height: auto;
}

.img_3 {
    max-width: 100%;
    height: auto;

}

/*========================================================================================*/
/*====*/
/*========================================================================================*/
