*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-- inicio de la pagina: es esta parte odemos editar el header de la pagina--*/
.inicio{
    width:100%;
    height: 120px;
    background-color:#88ABC2;
    background-image: url("../file_img/caja-invenire-cuero.png");
    background-repeat: no-repeat;
    background-size: 160px auto;
    background-position: left 5px; 
    /* border: 1px solid black; */
}
/*--fin de pagina: en esta parte podemos editar el footer de la pagina--*/
.pie_de_pagina{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #88ABC2;
    height: 140px;
    background-image: url("../file_img/caja-invenire-cuero.png");
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-position: left 20px;
    font-size: 40px;
    /* text-decoration: underline overline; */
    text-align: center;
    padding-top: 30px;
    font-family: Verdana, sans-serif; 
    text-shadow: 3px 3px black;
    color: white;
    /* border: 1px solid black; */
}
/* --en este lugar es para editar el lading page de la pagina-- */
.lading{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #88ABC2;
    background-image: url("../file_img/inventario.jpg");
    background-size:cover;
    height: 600px;
}

.cuadro_1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background: rgba(169,171,173, .5);
  }

  .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1px;
  /* border: 1px solid black; */
    width: 70%;
    float: right;
    margin-top: 30px;
    height: 70px;
  }
  
  .m a{
    /* background: #229acd; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: verdana;
    border: 0px solid #00000057;
    width: 200px;
    float: right;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .m a:hover{
    background: white;
    color: black;
  }  
