*{
	margin: 0;
}

a{
    text-decoration: none;
    color: #ffffff;
}
.contenedor{
	display: grid;
	grid-template-columns: repeat(10,1fr);
	grid-template-rows: 200px 500px 100px;
}

.logosuperior{
	grid-row: 1;
	background-image: url('../file_img/logo-invenire-cuero-new-prototipo.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.men{
	grid-column: 1;
	grid-row: 2;
}
#menu ul{
	width: 300px;
	height: auto;
	background-color: #8B4513;
	display: block;
	margin:0;
	padding: 0;
	width: 306px;
}
#menu li{
	list-style: none;
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 2px solid #fff;
	color: #fffafa;
	font-family: helvetica;
	font-size: 20px;
	padding: 23px;
	text-align: center;
}
#menu li:hover{
	background:#ff4500;
	width: 266px;
}
#menu li{
	-webkit-transition:all .9s ease;
	-moz-transition:all .9s ease;
	-ms-transition:all .9s ease;
}
.cuadro{
	grid-column: 2 / span 9;
	grid-row: 2;
	display: block;
	background: #DCDCDC;
	margin: 5px;
}
.cuadros{
	display: grid;
	grid-template-columns:repeat(4,1fr);
	grid-template-rows: repeat(2,100px);
	grid-gap: 3px;
	margin-top: 30px;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}

.buscar{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin: 20px;
    margin-right: 50px;
    overflow: hidden;

}
.buscar:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
.cuadritos{
	background: #808080;
	font-family: helvetica;
	font-size: 20px;
	color: black;
	text-align: center;
}
.footermayor{
	display: block;
	/* background: green; */
	grid-row: 3;
	grid-column: 1 / span 10;
}
.foot{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 200px 200px;
	background: red;
}
.footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 400px 50px;
    background: #044352c2;
    overflow: hidden;
    font-family: 'Galada', cursive;
    color: white;
    text-decoration: none;
}
.footer1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.columna1{
    grid-column: 1;
    text-align: center;
    padding: 40px;
    /* border: 1px solid black; */
}
.columna2{
    grid-column: 2;
    text-align: center;
    padding: 40px;

    /* border: 1px solid black; */
}
.columna3{
    grid-column: 3;
    /* text-align: center; */
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid black; */
}

.footer2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.copyright{
    grid-column: 1 ;
    background: #031d3ff1;
    padding: 20px;
}
.information{
    grid-column: 2 ;
    padding: 20px;
    background: #031d3ff1;
    /* background: #420452f1; */
    text-align: center;
}
.redes{
    width: 15%;
    height: 10%;
}
.contacto{
    width: 10%;
    height: 10%;
}
.icon-facebook{
    font-size: 50px;
    color: white;
    text-decoration: none;
    animation: facebook 5s infinite;
}
/* @keyframes facebook{
    50% {color: #3B5999;}

} */
.icon-facebook:hover{
    color: #3b5999;
}
.facebook:hover{
    color: #3b5999;
}
.icon-instagram{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: instagram 5s infinite;
}
@keyframes instagram {
    /* 50% {color: #833ab4;} */
    /* 0%   {color: #833ab4;}
    25%  {color: #4c68d7;}
    50%  {color: #cd486b;}
    60%  {color: #cd486b;}
    80%  {color: #fccc63;}
    90%  {color: #bc2a8d;}
    100% {color: #e95950;} */
}
.icon-instagram:hover{
    color: #833ab4;
    /* color:#8a3ab9 #4c68d7; */
    /* background: linear-gradient(to bottom right, #8a3ab9, #4c68d7,#cd486b, #fbad50,#fccc63,#bc2a8d,#e95950); */
}
.instagram:hover{
    color: #833ab4;
}
.icon-twitter{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: twitter 5s infinite;

}
/* @keyframes twitter{
    50% {color:  #55ACEE;}

} */
.icon-twitter:hover{
    color: #55acee;
}
.twitter:hover{
    color: #55acee;
}

.icon-blogger{
    text-decoration: none;
    font-size: 50px;
    color: white;
    animation: blogger 5s infinite;

}
/* @keyframes blogger{
    50% {color:  #ff5722;}

} */
.icon-blogger:hover{
    color: #ff5722;
}
.blogger:hover{
    color: #ff5722;
}
.icon-location,.icon-phone,.icon-mail2,.icon-clock,.icon-printer{
    font-size: 30px;
    color: white;
}
.horario{
    margin-left: 35px;
}
.icon-location:hover{
    color: #5a422b;
}
.home:hover{
    /* font-size: 30px; */
    color: #5a422b;
    text-decoration: underline ;
}
.titulo-footer{
    font-size: 35px;
}
.titulo-footer3{
    font-family: 'Galada', cursive;
}
/*========================================================================================*/
/*==imagen fondo==*/
/*========================================================================================*/
.imagen_fondo{
    background-image: url("../file_img/imagenes_fondo/fondo_lading.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*========================================================================================*/
/*====*/
/*========================================================================================*/
.browsers, .browsers2{
    font-weight: bolder;
}

/*========================================================================================*/
/*==4k  = 2560px==*/
/*========================================================================================*/
/* @media(min-width:1400px) and (max-width:2560px) {
} */
 /*========================================================================================*/
 /*==Laltop L = 1440px==*/
 /*========================================================================================*/
 /* @media (max-width:1440px) {
}  */
 /*========================================================================================*/
 /*==Laltop = 1024px==*/
 /*========================================================================================*/
@media (max-width:1024px) {
    .footer2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: 13px;
    }

}
 /*========================================================================================*/
 /*==Tablet = 768px==*/
 /*========================================================================================*/
 @media (max-width:768px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1090px 50px;
        background: #044352c2;
        overflow: hidden;
        font-family: 'Galada', cursive;
        color: white;
        text-decoration: none;
    }
    .footer1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .columna1{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna2{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna3{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
        /* border: 2px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: 12px;
    }
}
 /*========================================================================================*/
 /*==Movil L = 425px==*/
 /*========================================================================================*/
 @media (max-width:425px) {

    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1200px 150px;
        background: #044352c2;
        overflow: hidden;
        font-family: 'Galada', cursive;
        color: white;
        text-decoration: none;
    }
    .footer1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .columna1{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna2{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna3{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
        /* border: 2px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 80px 80px;
        font-size: 15px;

    }
    .copyright{
        grid-column: 1;
        text-align: center;
    }
    .information{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
}
 /*========================================================================================*/
 /*==Movil M = 375px==*/
 /*========================================================================================*/
 @media (max-width:375px) {

    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1300px 150px;
        background: #044352c2;
        overflow: hidden;
        font-family: 'Galada', cursive;
        color: white;
        text-decoration: none;
    }
    .footer1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .columna1{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna2{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna3{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
        /* border: 2px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 80px 80px;
        font-size: 15px;

    }
    .copyright{
        grid-column: 1;
        text-align: center;
    }
    .information{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }

}

 /*========================================================================================*/
 /*==Movil S = 320px==*/
 /*========================================================================================*/
 @media (max-width:320px) {

    .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1350px 150px;
        background: #044352c2;
        overflow: hidden;
        font-family: 'Galada', cursive;
        color: white;
        text-decoration: none;
    }
    .footer1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .columna1{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna2{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        /* border: 1px solid black; */
    }
    .columna3{
        grid-column: 1;
        text-align: center;
        padding: 40px;
        font-family: 'Roboto', sans-serif;
        /* border: 2px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 80px 80px;
        font-size: 15px;

    }
    .copyright{
        grid-column: 1;
        text-align: center;
    }
    .information{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
}

/*========================================================================================*/
/*==GAME OVER *_* EL SOCIO ==*/
/*========================================================================================*/
@media (max-width: 825px){
	.boton{
		display: block;
		height: 200px;

	}
}
@media (max-width: 825px){
	.buscar{
		display: block;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}

}
@media (max-width: 790px){
	.cuadros{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7,1fr);
	}
}
@media (max-width: 790px){
	.cuad1{
		grid-column: 1;
	}
}
/*@media (max-width: 500px) {
	.cuadro{
		display: none;
	}

}*/
@media (max-width: 500px){
	.contenedor{
		grid-template-columns: 1fr;
		grid-template-rows: 290px 500px 680px 80px;
	}
}
@media (max-width: 500px){
	.logo{
		grid-column: 1;
		grid-row: 1;
	}
}
@media(max-width: 500px) {
	.men{
		grid-column: 1;
		grid-row: 2;
	}

}
@media (max-width: 500px){
	.cuadro{
		grid-column: 1;
		grid-row: 3;
	}
}
@media (max-width: 500px){
	.pie_de_pagina{
		grid-column: 1;
		grid-row: 4;
	}
}
@media (max-width: 450px){
	.pies{
		font-size: 20px;
	}
}
