<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Practica 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main2.css" />
    <script src="jquery-3.3.1.min.js"></script>
    <script src="main2.js"></script>
</head>
<body>
  
    <h1>FUNCION BIND</h1>
    <div id="imagen_grande">
        <img id="img_cambia" src="">
    </div>
    <p>colombia es grande</p>
    <table>
        <tr>
            <td><img src="imgs/1.jpg" width="150" height="100" id="imagen1">
            </td>
        </tr>
    </table>    








    <!-- CUARTO EJERCICIO
    <h1>FUNCION BIND</h1>
<div id="mensaje">
    <img  id="1" src="imgs/1.jpg">
</div> -->







<!--EJERCICIO 3 
    <div>
    <h1 class="titulo">VIDEOJUEGOS CON JUACO</h1>
</div>
<div class="principal">
    <h2>PREGUNTAS FRECUENTES FAQ</h2>
    <h3>QUE CONSOLA  ES LA MAS ACTUALIZADA EN PLAY STATION?</h3>

<div class="respuesta">
    <p>Es la Play station 4 pro</p>
</div>
<h3>¿Donde puedo conseguir los juegos?</h3>
    <div class="respuesta">
        <p>en la clinica del play </p>
    </div>
</div> -->



















  <!--SEGUNDO EJERCICIO
       <div id="submenu1">
      <ul>
          <li id="opcion1"><a href="#">Opcion1</a></li>
          <li id="opcion2"><a href="#">Opcion2</a></li>
          <li id="opcion3"><a href="#">Opcion3</a></li>
      </ul>
  </div>
  <div id="menu_principal">
      <ul>
          <li id="Archivo"><a href="#">Archivo</a></li>
          <li><a href="#">Edicion</a></li>
          <li><a href="#">Herramientas</a></li>
      </ul>
  </div>
   -->
  
  
  
  
  
  
  <!-- primer ejercio
     <div id="mensaje_img1">arbol en la montaña</div>
    <div id="imagenes">
        <img src="imgs/1.jpg" id="imagen1">
        <img src="imgs/2.jpg" id="imagen1">
        <img src="imgs/3.jpg" id="imagen1">
        <img src="imgs/4.jpg" id="imagen1">
       
    </div> -->
</body>
</html>