<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="file_css/style_caducidadproducto.css">
	<link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
</head>
<body>
	<section class="contenedor">
	<div class="logo"></div>
	<div class="men">
	<div id="menu">
		<ul>
			<li>Inicio</li>
			<li>Realizar nuevo pedido</li>
			<li>Registrar salida de materiales</li>
			<li>Ubicacion de matariales</li>
			<li>Inventario</li>
			<li>Productos finalizados</li>
			<li>Caducidad de productos</li>
		</ul>	
	</div>
	</div>
	<div class="cuadro">
		<h1>Tipo de producto</h1>
		<div class="boton">
			<center><a href="" class="buscar">Registrar nuevo producto</a></center>
		</div>
		<div class="cuadros">
			<div class="cuadritos cuad1">Estado</div>
			<div class="cuadritos cuad2">Fecha de caducidad</div>
			<div class="cuadritos cuad3">Pegamento</div>
			<div class="cuadritos cuad4">2000 mililitros</div>
			<div class="cuadritos cuad5">Bueno</div>
			<div class="cuadritos cuad6">16/12/2017</div>
			<div class="cuadritos cuad7">1465789</div>
			<div class="cuadritos cuad8">12/05/2016</div>	
		</div>
		<div class="botonabajo">
			<a href="" class="buscar">Eliminar</a>
			<a href="" class="buscar">Modificar</a>
			<a href="" class="buscar">Guardar</a>
		</div>
	</div>
    <footer class="pie_de_pagina">
        <div class="logo-footer">
            <!-- <img class="img_3" src="file_img/caja-invenire-cuero.png"  width="130" height="130" alt="" > -->
            <b class="pies ">2018-INVENIRE-CUERO</b>
        </div>
    </footer>
</section>
</body>
</html>