<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file_css/style_lading-page.css">
    <link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
    <title>Lading-page</title>
</head>
<body>
    <header class="inicio">
            <section class="container">
                    <section class="m"><a href="#nosotros">¿Quienes somos?</a></section>
                    <section class="m"><a href="">Registro</a></section>
                    <section class="m"><a href="login">login</a></section>
            </section>
    </header>
    <section class="lading">
        <section class="cuadro_1 invenire-cuero">
                <img src="file_img/logo-invenire-cuero-new.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto temporibus quo nam possimus libero alias aspernatur ducimus quidem sequi ullam aperiam, tenetur dignissimos necessitatibus quos laboriosam porro est sit quasi!</p>
        </section>

    </section>
    <footer class="pie_de_pagina">
            <b class="pies">2018-INVENIRE-CUERO</b>
    </footer>
</body>
</html>