<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file_css/style_lading-page.css">
    <link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
    <title>Lading-page</title>
</head>
<body>
    <header class="header">
                <div class="wrapper">
        <div class="logo">
                        <img class="img_1" src="file_img/caja-invenire-cuero.png"  width="130" height="130" alt="" >
                INVENIRE-CUERO
        </div>
                <nav class="menu">
                <a href="#nosotros">¿Quienes somos?</a>
                <a href="">Registro</a>
                <a href="login">Login</a> 
                </nav>
        </div>
    </header>
    <section class="lading">
        <section class="contenido invenire-cuero">
                <img class="img_2" src="file_img/logo-invenire-cuero-new.png"  width="600" height="700" alt="" >
                <section class=" wrapper">
                <h1>BIENVENIDOS</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto temporibus quo nam possimus libero alias aspernatur ducimus quidem sequi ullam aperiam, tenetur dignissimos necessitatibus quos laboriosam porro est sit quasi!</p>
                </section>
        </section>

    </section>
    <footer class="pie_de_pagina col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-footer">
            <!-- <img class="img_3" src="file_img/caja-invenire-cuero.png"  width="130" height="130" alt="" > -->
            <b class="pies">2018-INVENIRE-CUERO</b>
        </div>
    </footer>
</body>
</html>