<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file_css/style_lading_page.css">
    <link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Press+Start+2P" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
    <title>Lading page</title>
</head>
<body>
    <div class="imagen_fondo">
    <header class="header">
        <div class="logo">
            <img class="img_1" src="file_img/caja-invenire-cuero.png"  width="100" height="70" alt="" >
        </div>
                <!-- <nav class="menu"> -->
                    <a class="a" href="#nosotros">Quienes somos</a>
                    <a class="b" href="formulario.html">Registro</a>
                    <a class="c" href="login_usuario.html">Login</a> 
                    <!-- </nav> -->
    </header>
    <section class="section">

    </section>
</div>
</body>
</html>