<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file_css/style_lading_page.css">
    <link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Press+Start+2P" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
    <script src="file_js/slider.js"></script>
    <title>Lading page</title>
</head>
<body>
    <div class="imagen_fondo">
    <header class="header">
        <div class="logo">
            <img class="img_1" src="file_img/caja-invenire-cuero.png"  width="100" height="70" alt="" >Invenire Cuero
        </div>
                <!-- <nav class="menu"> -->
                    <a class="a" href="#nosotros">Quienes somos</a>
                    <a class="b" href="formulario.html">Registro</a>
                    <a class="c" href="login_usuario.html">Login</a> 
                    <!-- </nav> -->
    </header>
    <section class="section">
        <div class="div1">
            <h1>Bienvenido</h1>
            <p>En el centro de diseño y manufactura del cuero hacemos cada mes un gran bazar de productos terminados por los aprenidces</p>

        </div>
        <div class="div2">
            <img class="imagenes"  name="slider" src="" alt="" width="700" height="460">
        </div>
    </section>
    <section class="div3">
        <div class="email">
            <form action="">
                <input class="ema" type="email" placeholder=" email">
            </form>
        </div>
    </section>
    <footer class="footer">
        
    </footer>
</div>
</body>
</html>