<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file_css/style.css">
    <link rel="stylesheet" href="file_css/st">
    <link rel="stylesheet" type="text/css" href="file_css/style_lading_page.css">
    <link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Press+Start+2P" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
    <title>Lading page</title>
</head>
<body>
<div class="imagen_fondo">
    <header class="header">
        <div class="logo">
            <img class="img_1" src="file_img/caja-invenire-cuero.png"  width="100" height="70" alt="logo del proyecto" >
        </div>
            <!-- <nav class="menu"> -->
                <a class="a" href="index.html">Quienes somos</a>
                <a class="b" href="formulario.html">Registro</a>
                <a class="c" href="login_usuario.html">Login</a> 
            <!-- </nav> -->
    </header>
    <section class="section">
        <div class="div1">
            <h1>Bienvenido</h1>
            <p>En el centro de diseño y manufactura del cuero hacemos cada mes un gran bazar de productos terminados por los aprenidces</p>
        </div>
        <div class="div2">
            <img class="imagenes"  name="slider" src="" alt="imagen en movimiento" width="500" height="100">
        </div>
    </section>
    <section class="div3">
        <div >
            <form action="" class="email">
                <p class="pa">Si quieres saber mas ingresa tu nombre y tu correo y te llegara una notificacion cuando se realizara el procimo bazar</p>
                <div class="a1">
                        <input type="text" placeholder="Nombre">
                </div>
                <div class="a2">
                        <input class="ema" type="email" placeholder=" email">
                </div>
                <div class="a3">
                <input type="submit" type="Enviar">
                </div>
            </form>
        </div>
    </section>
    <footer class="footer">
        <section class="footer1">
            <div class="columna1">
                <h1>Invenire Cuero</h1>
                <p><p> Todas estas borrascas que nos suceden son señales de que presto ha de serenar el tiempo y han de sucedernos bien las cosas; porque no es posible que el mal ni el bien sean durables, y de aquí se sigue que, habiendo durado mucho el mal, el bien está ya cerca. Así que, no debes congojarte por las desgracias que a mí me suceden, pues a ti no te cabe</p></p>
            </div>
            <div class="columna2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <a href="https://www.instagram.com/senacalatrava/" class="icon-blogger"></a>
                    <a href="https://www.instagram.com/senacalatrava/">Siguenos en Blogspot</a>
                    <!-- <span class="icon-instagram inr"></span> -->
                </div>
                <div class="row">
                    <a href="https://es-la.facebook.com/disenoconfeccionymoda/" class="icon-facebook"></a>
                    <a href="https://es-la.facebook.com/disenoconfeccionymoda/">Siguenos en facebook</a>
                    <!-- <span class=" icon-facebook r"></span> -->
                </div>
                <div class="row">
                    <a href="https://twitter.com/cuerosena" class="icon-twitter"></a>
                    <a href="https://twitter.com/cuerosena">Siguenos en facebook</a>
                    <!-- <img class="redes" src="file_img/redes/twitter.png" alt=""> -->
                    <!-- <label for="">Siguenos en Twitter</label> -->
                </div>
                <div class="row">
                    <a href="https://www.instagram.com/senacalatrava/" class="icon-instagram"></a>
                    <a href="https://www.instagram.com/senacalatrava/">Siguenos en Instagram</a>
                        <!-- <span class="icon-instagram inr"></span> -->
                </div>
            </div>
            <div class="columna3">
                <h1>Informacion para contactarnos</h1>
                <div class="row2">
                    <span class="icon-home3"></span>
                    <label>Calle 63 # 58B - 03, Itagüí, Antioquia, Colombia</label>
                </div>
                <div class="row2">
                    <span class="icon-phone"></span>
                    <label>514 9290</label>
                </div>

                <div class="row2">
                    <span class="icon-mail3"></span>
                    <label>sospina078@misena.edu.co</label>
                </div>
            </div>
        </section>
        <section class="footer2">
                <div class="copyright">
                    © 2017 Todos los Derechos Reservados | <a href="">Magtimus</a>
                </div>

                <div class="information">
                    <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                </div>
        </section>
    </footer>
</div>
<script type="text/javascript" src="file_js/slider.js"></script>
</body>
</html>