<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file_css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="file_css/style_login_testing.css" />
    <link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>login testing</title>
</head>
<body>
    <div class="login-box">
        <img src="file_img/caja-invenire-cuero.png " alt="logo login" class="imagen-login">
        <h1>Login Here</h1>
        <form action="">
            <!-- Documento usuario -->
            <label for="Documento Usuario">Documento Usuario</label>
            <input type="text" name="" id="" placeholder="Documento Usuario">
            <!-- Password -->
            <label for="Contraseña Usuaro">Contraseña Usuaro</label>
            <input type="password" name="" id="" placeholder="Contraseña Usuario">
            <input type="submit" value="Ingresar">
            <a href="#">As olividado tu contraseña</a><br>
            <a href="#">no tengo una cuenta</a>
        </form>
    </div>
</body>
</html>