<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file_css/style_menu_laterla_testing.css">
    <link rel="stylesheet" href="file_css/style.css">
    <link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>menu testing</title>
</head>
<body>
    <div id="sidebar" >
        <div class="icon-menu">
            <!-- <span>&#9776;</span> -->
        </div>
        <ul>
            <li><img src="file_img/caja-invenire-cuero.png" alt="logo invenire-cuero" width="100" class="logo-caja"></li>
            <li><a href="registrar_nuevos_usuario.html">Registrar Nuevos usuarios</a></li>
            <li><a href="#">Permitir Login en el Sistema</a></li>
            <li><a href="#">Restaurar Contraseña</a></li>
            <li><a href="#">Crear Roles en el Sistema</a></li>
            <li><a href="#">Asignar Rol del Usuario</a></li>
            <li><a href="#">Actulizar Rol del Usuario</a></li>
            <li><a href="#">Generar Lista de Materiles</a></li>
            <li><a href="#">Consultar Materiales Por Tipo</a></li>
            <li><a href="#">Listar Materiales Registrados</a></li>
            <li><a href="#">Visualizar Inventario</a></li>
        </ul>
    </div>
    <script src="file_js/menu_testing.js"></script>
</body>
</html>