<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file_css/style.css">
    <link rel="stylesheet" type="text/css" href="file_css/">
    <link rel="icon" type="image/png" href="file_img/caja-invenire-cuero-ico.ico" />
    <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Visualizar Invntario </title>
</head>
<body>
    
</body>
</html>